[Unit]
Description=Plight Daemon
After=network.target

[Service]
User=plight
Group=plight
PIDFile=/var/run/plight.pid
ExecStart=/usr/bin/plight start
ExecStop=/usr/bin/plight stop


[Install]
WantedBy=default.target